
*{
    font-size: 30pt;
     color: #C5D0D6;
}

#navContainer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #667C8A;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

ul,li{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  margin : 0%;
  padding: 0pt 18pt 0pt 18pt;
}

li>a{
  text-decoration: none;
}

li:hover{
  background-color:#262E33;
}

h1{
  margin: 10pt 10pt 10pt 10pt;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 42pt;
  font-weight: 700;
}

