
*{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 28pt;
}

.login-form-container  {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-group{
	display: flex;
	flex-direction: column;

  	 color: #C5D0D6;
	padding: 2vw 12vw
}

form-group form label{
	align-self: left;
}

form input{
	border-style: none;
	min-width: 15vw;
	max-width: 45vw;
	align-self: center;
}

form button{
	border-style: none;
	border-radius: 8pt;
	min-width: 100pt;
	max-width: 25vw;
	align-self: left;
  	 color: #C5D0D6;
	background-color: #667C8A;
}

form button:hover{
	border-style: solid;
	border-width: 2pt;
	border-color:#667C8A ;
	background-color:#262E33;
	background-clip: border-box;
	color: #667C8A;
}

.invalid-feedback * {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 12pt;
	color: white;
	padding: 6pt;
	display: inline;
	background-color: indianred;
	border-style: none;
	border-radius: 8pt;
}


